body {
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	margin: 0;
	padding: 0;
	color: #dd9700;	
	background-size: 100%;
}
.boombox {
	background-image: url("boom_box.jpg");
	width: 100%;
	height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    overflow: none;
}
.title {
	width:50%;
	margin: auto;
	margin-bottom: 15px;
}
.title h1 {
	text-align: center;
	margin:0;
}
.upload {
	width: 47%;
	height: 24px;
	margin:auto;
}
.upload input, button{
	background: transparent;
	border: 1px solid #dd9700;
}
.upload p {
	font-size: 17px;
	display: inline;
}
.container {
	width: 100%;
	border-radius: 4px;
	/*box-shadow: 0 0 10px #888;*/
}

.container h1 {
	margin:0 0 0 230px;
}

#progress {
	width: 350px;
}

.song_player{
    width: 625px;
    height: 73px;
    margin: auto;
    margin-top: 15px;
    padding-left: 10px;
   	background-color: rgba(84, 84, 84, .6);
   	box-shadow: inset 0 0 5px #888;
}

.song_player p {
	text-align: center;
	margin: auto;
}

#progress {
	margin-left: 140px
}

#info {
	font-size: 26px
}
#time {
	text-align: right;
	margin-left: 15px;
	font-size: 15px;
	display: inline-block;
}

.controls {
	padding-left: 54px;
    width: 18%;
    margin: auto;
    margin-top: 175px;
}

.controls button {
	height: 32px;
	padding-left: 9px;
	background: transparent;
	border: none;
	color: white;
}
#selector {
	background: transparent;
}
.selector {
	width: 196px;
    margin: auto;
    margin-top: 110px;
}
.selector p {
	margin:0;
	margin-bottom: -15px;
	font-size: 15px;
}